{% extends 'aromaapp/base.html' %}
{% load static %}
{% block css_files %} {% endblock %}

{% block js_files %}  {% endblock  %}
<title>{% block page_title %}Ayarlar{% endblock  %}</title>



{% block content %}
{% load static %}
<!--navbar-->


	<div style="background: url({% static 'img/peach.jpg' %}); width: 100%; height:810px;  " class="limiter" >
		<div class="container-login100">
			
			<div  class="wrap-login100"><br><br><br>
				
				<div  class="login100-pic js-tilt" data-tilt>
				</div>
				<div style="">
					<form style="border-radius:25px;width:500px; height:500px; margin-left:15px; position: relative; margin:auto;background-color:white; " method="POST" novalidate><br>
						<img href="{% url 'home' %}"style="width:200px;height:150px;display: block; margin: auto;width:200;height:150" src="{% static 'img/gurkan-logo.png' %}" alt="IMG">

                              {% csrf_token %}
     
                              {% if error %}
                                   <div class="alert alert-warning">{{error}}
                              {% endif %}
                         <div style="width:500px;margin-left:155px;margin-top:50px">     
                              <a> Boş Kasa Ağırlığı belirleme Ekranı</a>
                              
                              <div  style="width:300px;margin-top:20px;border-radius:20px;margin-left:-55px" name="setKg" class="wrap-input1 validate-input" >
                                   <input style="width:300px;margin-right:100px;border-radius:25px" class="input1" type="number" name="setKg" placeholder="Belirleyeceğiniz Fiyatı yazınız.">
                                   <span class="shadow-input1"></span>
                              </div>
                            
                              <br>
                              <div style="margin-left:15px;" class="container-contact1-form-btn">
                                   <input type="submit" value="Kayıt Et" class="btn btn-primary"> 
                                  
                              </div>
                          
						
						

						
					
						
                         </div> 
					</form>
				</div>
			</div>
		</div>
	</div>
	{% endblock  %}

	

	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>
    
    
