{% extends 'aromaapp/base.html' %}

{% load static %}
{% block css_files %} {% endblock %}

{% block js_files %}  {% endblock  %}
<title>{% block page_title %}Banka{% endblock  %}</title>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-style.css' %}">
    
{% block content %}
    
    <!-- Page Loader -->
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light"  style="overflow: hidden; ">
     
       
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
               <li class="nav-item active">
                  <a class="navbar-brand " href="{% url 'home' %}">Anasayfa</a>
               </li> 
               <li class="nav-item">
               <a class="navbar-brand" href="{% url 'case' %}">Kasa İşlemleri</a>
               </li>   
               <li class="nav-item">
                <a class="navbar-brand" href="{% url 'addFromBank' %}">Bankadan Geleni Ekle</a>
               </li>
               <li class="nav-item">
               <a class="navbar-brand" href="{% url 'bankSee' %}">Bankadan Gelen Para Çizelgesi</a>
               </li>
               <li class="nav-item">
                <a class="navbar-brand" href="{% url 'addDebt' %}">Müşteriye Verileni Ekle</a>
               </li>
               <li class="nav-item">
                <a class="navbar-brand"href="{% url 'debtSee' %}">Müşteriye Verilen Para Çizelgesi</a>
               </li>
               <li class="nav-item">
                <a class="navbar-brand" href="contact.html">Özel Kasa</a>
               </li>
               
               
            </ul>
        </div>
       </nav> 
    

	

	
    <div class="container-fluid tm-container-content tm-mt-60">
	<table class="table table-hover">
		<thead>
               <tr>
               <th scope="col">ID</th>
               <th scope="col">BANKA ADI</th>
               <th scope="col">HESAP NUMARASI</th>
               <th scope="col">ÜNVANI</th>
               <th scope="col">TUTARI</th>
               <th scope="col">İŞLEM TARİHİ</th>
               <th scope="col">AÇIKLAMA</th>
               <th scope="col">İŞLEMLER</th>
               
               </tr>
          </thead>
	{% include 'partials/bankSeeTable.html' %}
     </table>
    </div>
   
  
    <footer style="width: 100%;height: 65px;background-color:white;text-align: center;line-height: 75px;color:black;font-weight: bolder;position: fixed;bottom: 0;"> Telif Hakkı @ Gürkan Eser'e Aittir.</footer>
{% endblock  %}  
    
    
